{% extends "gamebase.html" %}
{% block title %}Card game :D{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static',filename='css/2_FlipCards.css') }}">{% endblock %}
{% block header %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Flipping card</h1>
                <p class="lead fw-normal text-white-50 mb-0">Stand a chance to win discounts!</p>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
<div class="main-container">
    <section class="flipcard">
        <div class="card" id="1">
            <img src="{{ url_for('static',filename='images/Win.JPG') }}" class="front-face">
            <div class="back-face"></div>
        </div>
        <div class="card" id="2">
            <img src="{{ url_for('static',filename='images/Lost.JPG') }}" class="front-face">
            <div class="back-face"></div>
        </div>
        <div class="card" id="3">
            <img src="{{ url_for('static',filename='images/Lost.JPG') }}" class="front-face">
            <div class="back-face"></div>
        </div>
    </section>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/card.js') }}"></script>
</div>
{% endblock %}